# ---- Python ----
*.pyc
__pycache__/
*.pyo
*.pyd
.Python
env/
venv/
ENV/
*.egg-info/
pip-log.txt

# ---- Notebooks ----
.ipynb_checkpoints/

# ---- Models ----
*.h5
*.hdf5
*.pth
*.pt
*.pb
*.tflite
*.onnx
*.joblib
*.pkl

# ---- Data ----
ai_core/data/*
!/data/README.md

# ---- IDE Config ----
.vscode/
.idea/

# ---- Logs and Test Outputs ----
*.log
htmlcov/
.coverage
coverage.xml
.pytest_cache/

# ---- Frontend ----
node_modules/
dist/
build/
.cache/
*.log
*.tmp


# for the front-end side
# Logs
frontend/logs
frontend/*.log
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*
frontend/pnpm-debug.log*
frontend/lerna-debug.log*

frontend/node_modules
frontend/dist
frontend/dist-ssr
frontend/*.local

# Editor directories and files
frontend/.vscode/*
frontend/!.vscode/extensions.json
frontend/.idea
frontend/.DS_Store
frontend/*.suo
frontend/*.ntvs*
frontend/*.njsproj
frontend/*.sln
frontend/*.sw?
