# ---- Python ----
*.pyc
__pycache__/
*.pyo
*.pyd
.Python
env/
venv/
ENV/
*.egg-info/
pip-log.txt

# ---- Notebooks ----
.ipynb_checkpoints/

# ---- Models ----
*.h5
*.hdf5
*.pth
*.pt
*.pb
*.tflite
*.onnx
*.joblib
*.pkl

# ---- Data ----
ai_core/data/*
!/data/README.md

# ---- IDE Config ----
.vscode/
.idea/

# ---- Logs and Test Outputs ----
*.log
htmlcov/
.coverage
coverage.xml
.pytest_cache/

# ---- Frontend ----
node_modules/
dist/
build/
.cache/
*.log
*.tmp


# === FRONTEND ===

# dependencies
frontend/node_modules
frontend/.pnp
frontend/.pnp.*
frontend/.yarn/*
!frontend/.yarn/patches
!frontend/.yarn/plugins
!frontend/.yarn/releases
!frontend/.yarn/versions

# testing
frontend/coverage

# next.js
frontend/.next/
frontend/out/

# production
frontend/build

# misc
frontend/.DS_Store
frontend/*.pem

# debug
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*
frontend/.pnpm-debug.log*

# env files (opt-in for committing if needed)
frontend/.env*

# vercel
frontend/.vercel

# typescript (if TS ever added in frontend)
frontend/*.tsbuildinfo
frontend/next-env.d.ts
